RewriteEngine On

# Permettre l'accès direct aux fichiers statiques (images, CSS, JS)
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Permettre l'accès aux dossiers
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Rediriger tout le reste vers index.php
RewriteRule ^(.*)$ index.php [QSA,L]

ErrorDocument 404 /404.php
